.mainpage-all-a {   
    height: 126px;
    display: flex;
    justify-content: space-evenly;
}
.mainpage-a {
    text-decoration: none;
}
.prod-contain {
    padding: 20px;
}
.latest-containt {
    background-image: url('../assets/images/game.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    color: #fff;
    bottom: 0;
    margin-top: 50px;
}
.electronic-section, .toys-section {
    position: relative;
}
.left-icon {
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%);
    width: 50px;
    height: 100px;
    background-color: #f5f5f5;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}
.right-icon {
    position: absolute;
    right: 0;
    bottom: 50%; 
    transform: translateY(50%);
    width: 50px;
    height: 100px;background-color: #f5f5f5;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}
.icons {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    gap: 20px; 
    padding-top: 10px;
    text-align: center; 
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.card-container::-webkit-scrollbar {
    appearance: none;
}
.sidebar {
    margin-left: 10px;
    width: 20%;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}
.resultbar {
    margin-left: 10px;
    width: 78%;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}
.prod-ul {
    list-style: none;
}
.prod-lst::before {
    content: '\2022';
    color: grey;
    font-weight: bold;
    display: inline-block; 
    width: 1.2em;
    margin-left: -1em;
}
.rating-icon {
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
    background-color: #009000;
    color: #fff;
}
.product-details {
    background-color: #fff;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    overflow-y: scroll; 
    overflow-x: hidden;
    scrollbar-gutter: stable;
    padding: 20px;
}
.product-details::-webkit-scrollbar {
    display: none;
}